<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Italian restaurant!</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>
    <nav>
        <a href="home">Home</a>
        <a href="menu">Menu</a>
        <a href="info">Hours &amp; Location</a>
        <a href="order">Order</a>
    </nav>
    <div class="main-section">
        <div class="grid-item">
            <h2>Here For Any Occasion</h2>
            <p>Italian food is best when shared with those you love, and our made-from-scratch dishes will ensure your next event is memorable. We cater to events of all sizes, including pick-up packages, custom menus, and fully-staffed private events.</p>
        </div>
        <div class="grid-item">
            <h2>Packages for Pick-Up</h2>
            <p>We require a 24-hour notice for all catering orders.</p>
            <a href="menu">See Our Menus</a>
        </div>
        <div class="grid-item">
            <h2>Special Events</h2>
            <p>Call us between 2PM and 6PM to discuss custom options for your private event: 800.564.1234.</p>
        </div>
    </div>
    <div class="footer grid-item">
        <a href="menu">Menus</a>
        <a href="catering">catering</a>
        <a href="info">Hours &amp; Location</a>
        <a href="gift-cards">Gift Cards</a>
        <p>“Contact Us”<br/> Italianrestaurant@yahoo.com</p>
        <p>© Italian restaurant. All Rights Reserved<br/></p>
    </div>
</body>
</html>
