<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Italian restaurant!</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>
    <nav>
        <a href="home">Home</a>
        <a href="catering">Catering</a>
        <a href="info">Hours &amp; Location</a>
        <a href="order">Order</a>
    </nav>

    <div class="menu-section">
        <div class="menu-grid">
            <button class="menu-item" id="btnSoupSalad"><h2>SOUPS & SALADS</h2></button>
            <button class="menu-item" id="btnPastaBar"><h2>PASTA BAR</h2></button>
            <button class="menu-item" id="btnSandwiches"><h2>NORTH END NEIGHBORHOOD SANDWICHES</h2></button>
        </div>
    </div>

    <div class="menu-section" id="menu-container">
        <div class="menu-section" id="menuSoupSalad">
            <!-- Content for SOUPS & SALADS menu -->
        </div>
        
        <div class="menu-section" id="menuPastaBar">
            <!-- Content for PASTA BAR menu -->
        </div>
        
        <div class="menu-section" id="menuSandwiches">
            <!-- Content for NORTH END NEIGHBORHOOD SANDWICHES menu -->
        </div>
    </div>
    
    <div class="footer grid-item">
        <a href="menu">Menus</a>
        <a href="catering">Catering</a>
        <a href="info">Hours &amp; Location</a>
        <a href="giftCards">Gift Cards</a>
        <p>“Contact Us”<br/> Italianrestaurant@yahoo.com</p>
        <p>© Italian restaurant. All Rights Reserved<br/></p>
    </div>

    <script src="{% static 'js/menuItems.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>
