<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Italian restaurant!</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>
    <nav>
        <a href="home">Home</a>
        <a href="catering">Catering </a>
        <a href="info">Hours &amp; Location</a>
        <a href="order">Order</a>
    </nav>
    <div class="menu-section">
        <div class="menu-grid">
            <h3 class="menu-item grid-span-3">SOUPS & SALADS</h3>
            <div class="menu-item">
                <h3>SOUP & SALAD COMBO</h3>
                <strong>$6.95</strong>
                <p>A cup of our Soup Du Jour and your choice of a Small Caesar or Small Garden Salad</p>
            </div>
            <div class="menu-item">
                <h3>SOUP DU JOUR</h3>
                <strong>$3.95</strong>
            </div>
            <div class="menu-item">
                <h3>SIDE SALAD</h3>
                <strong>$3.95</strong>
                <p>Caesar Salad | Garden Salad</p>
            </div>
            <div class="menu-item">
                <h3>GRILLED ANTIPASTO SALAD</h3>
                <strong>$12.95</strong>
                <p>Grilled seasonal vegetables and white beans tossed with lemon juice, olive oil, and fresh herbs, topped with goat cheese, and served on a bed of arugula with fresh pita</p>
            </div>
            <div class="menu-item">
                <h3>GREEK SALAD</h3>
                <strong>$13.95</strong>
                <p>Romaine lettuce, field greens, artichoke hearts, capers, tomatoes, cucumbers, red onions, Kalamata olives, and feta cheese served with Kalamata-feta dressing</p>
            </div>
            <div class="menu-item">
                <h3>CRAB CAKE SALAD</h3>
                <strong>$12.95</strong>
                <p>Two crab cakes, romaine lettuce, and spring mix served with walnut basil pesto, chipotle aioli, balsamic vinegar, and olive oil</p>
            </div>
            <div class="menu-item">
                <h3>COBB SALAD</h3>
                <strong>$16.95</strong>
                <p>Romaine lettuce, eggs, tomatoes, cucumbers, chicken, bacon, pepperoncini, avocados, and gorgonzola cheese served with red pepper ranch dressing</p>
            </div>
            <div class="menu-item">
                <h3>GRILLED SALMON SALAD</h3>
                <strong>$19.95</strong>
                <p>Green leaf lettuce, field greens, tomatoes, oranges, red onions, and grilled salmon topped with vinegar and served with Italian dressing</p>
            </div>
            <div class="menu-item">
                <h3>CAPRESE SALAD</h3>
                <strong>$11.95</strong>
                <p>Sliced tomatoes topped with fresh mozzarella, balsamic vinegar, olive oil, and basil served with roasted red bell peppers</p>
            </div>
            <div class="menu-item">
                <h3>PREMIUM ADD-ONS</h3>
                <p>Organic Chicken $6.95<br/>Fried Chicken $6.95<br/>Shrimp $9.45<br/>Salmon $11.95</p>
            </div>
            <div class="menu-item">
                <h3>DRESSINGS</h3>
                <p>Roasted red pepper ranch | Gorgonzola cream | Kalamata-feta | Balsamic vinaigrette | Citrus vinaigrette | Honey mustard | Italian | Caesar</p>
            </div>
        </div>
        <div class="menu-grid">
            <h3 class="menu-item grid-span-3">PASTA BAR</h3>
            <div class="menu-item">
                <h3>1. PICK A PASTA</h3>
                <p>Fettuccine | Spaghetti | Penne | Angel Hair | Gluten-Free +$2</p>
            </div>
            <div class="menu-item">
                <h3>2. PICK A SAUCE</h3>
                <p>Marinara | Spicy Marinara | Bolognese | Alfredo | Roasted Red Pepper Alfredo | Creamy Basil Pesto | Tomato Alfredo | Four Cheese (mozzarella, parmesan, gorgonzola, cheddar)</p>
            </div>
            <div class="menu-item">
                <h3>3. PICK TWO ADD-INS</h3>
                <p>Tomatoes | Spinach | Artichokes | Peas | Onions | Olives | Eggplant | Mushrooms | Green Peppers | Red Peppers | Jalapeños | Gorgonzola | Feta</p>
            </div>
            <div class="menu-item">
                <h3>SPECIALTY TOPPINGS</h3>
                <p>Sausage | Pancetta | Prosciutto $3<br/>
                Meatballs $4<br/>
                Grilled Chicken | Fried Chicken $6.95<br/>
                Shrimp $9.45<br/>
                Salmon (8 oz.) $11.95</p>
            </div>
        </div>
        <div class="menu-grid">
            <h3 class="menu-item grid-span-3">NORTH END NEIGHBORHOOD SANDWICHES</h3>
            <div class="menu-item">
                <h3>SAUSAGE, PEPPER & ONION SUB</h3>
                <p>HALF $8.95 | WHOLE $16.95 | SPECIAL $10.95<br/>
                Our house sausage with sautéed peppers, onions, and marinara</p>
            </div>
            
            <div class="menu-item">
                <h3>CHICKEN PARM SUB</h3>
                <p>HALF $11.95 | WHOLE $22.95 | SPECIAL $12.95<br/>
                Our famous chicken parmesan stuffed in a sub roll</p>
            </div>
            
            <div class="menu-item">
                <h3>VEAL PARM SUB</h3>
                <p>HALF $12.95 | WHOLE $26.95 | SPECIAL $14.95<br/>
                Our veal parmesan stuffed in a sub roll</p>
            </div>
            
            <div class="menu-item">
                <h3>EGGPLANT PARM SUB</h3>
                <p>HALF $12.95 | WHOLE $24.95 | SPECIAL $12.95<br/>
                Our eggplant parmesan stuffed in a sub roll</p>
            </div>
            
            <div class="menu-item">
                <h3>SAUSAGE PARM SUB</h3>
                <p>HALF $9.95 | WHOLE $19.95 | SPECIAL $12.95<br/>
                Our house sausage covered with marinara and melted mozzarella cheese</p>
            </div>
            
            <div class="menu-item">
                <h3>THE ITALIAN HERO SUB</h3>
                <p>HALF $14.95 | WHOLE $28.95 | SPECIAL $15.95<br/>
                Slices of prosciutto and salami, banana peppers, fresh mozzarella, our house bruschetta mix, arugula, and balsamic vinaigrette</p>
            </div>
            
            <div class="menu-item">
                <h3>THE OCEANO SUB</h3>
                <p>HALF $10.95 | WHOLE $22.95 | SPECIAL $12.95<br/>
                Fried calamari, shrimp, banana peppers, and chipotle mayo</p>
            </div>
            
            <div class="menu-item">
                <h3>SPICY CHICKEN SUB</h3>
                <p>HALF $9.95 | WHOLE $18.95 | SPECIAL $11.95<br/>
                Organic fried chicken breast coated in spices and stuffed in a sub roll with spring mix, tomatoes, and chipotle mayo</p>
            </div>
            
            <div class="menu-item">
                <h3>MEATBALL PARM SUB</h3>
                <p>HALF $10.95 | WHOLE $21.95 | SPECIAL $11.95<br/>
                Our meatballs loaded into a sub roll and topped with marinara and melted mozzarella cheese</p>
            </div>
            
            <div class="menu-item">
                <h3>CHICKEN BRUSCHETTA SANDWICH</h3>
                <p>WHOLE $14.95<br/>
                Fresh pita stuffed with grilled organic chicken breast, pesto, bruschetta tomato mix, feta cheese, and spring mix. Served with fries or a side salad.</p>
            </div>
            
            <div class="menu-item">
                <h3>THE PORTO</h3>
                <p>WHOLE $12.95<br/>
                Fresh pita stuffed with portobello mushroom and eggplant slices, roasted red bell pepper, fresh mozzarella and basil aioli. Served with fries or a side salad.</p>
            </div>
        </div>
    </div>
    <div class="footer grid-item">
        <a href="menu">Menus</a>
        <a href="catering">catering</a>
        <a href="info">Hours &amp; Location</a>
        <a href="gift-cards">Gift Cards</a>
        <p>“Contact Us”<br/> Italianrestaurant@yahoo.com</p>
        <p>© Italian restaurant. All Rights Reserved<br/></p>
    </div>
</body>
</html>
